<style>
	.profile
	{
		width: 49%;
		float: left;
	}

	.title
	{
		font-weight: bold;
		color: grey:
	}

	.prof-box
	{
		border: 2px solid black;
		width: 30%;
	}

	.prof-box img
	{
		width: 100%;
	}
</style>

<% provide(:title, "About Kawaii Crate") %>
<h1>About Us</h1>
<p>Kawaii Crate was started by <a href="http://michaelburnley.com">Michael Burnley</a> and Jose Nasser to provide the best anime subscription box out there! Unlike other monthly subscription boxes we send only licensed goodies to our subscribers and taking picks from different anime and manga: big or small! Our team is small, but dedicated. Here's a little bit about us:</p>

<div>
	<div class="profile">
		<h2>Jose Nasser</h2>
		<h2><div class="title">Co-Owner/Merchandiser</div></h2>
		<div class="prof-box">
			<%= image_tag "buu.jpg" %>	
		</div>
		<br><br>
		<p>A guy that likes anime.</p>	
		<div>
		Favorite Anime
			<ul>
				<li>Dragon Ball Z</li>
				<li>Re:Zero</li>
				<li>Your Lie in April</li>
				<li>Erased</li>
				<li>Samurai Champloo</li>
			</ul>	
		</div>
		<div>
		Favorite Manga 
			<ul>
				<li>Fuuka</li>
				<li>Boku No Hero Academia</li>
				<li>Niskeoi</li>
				<li>Karate Shoukoushi Kohinata Minoru</li>
				<li>The Gamer</li>
			</ul>	
		</div>
	</div>
	<div class="profile">
		<h2>Emma Frozt</h2>
		<h2><div class="title">Blogger/Social Media Manager</div></h2>
		<div class="prof-box">
			<%= image_tag "hellgirl.jpg" %>	
		</div>
		<br><br>
		<p>Bilma AKA "Emma Frozt" is the biggest Anime nerd you'll ever find! A complete devotee, she keeps up with the latest anime and manga series and is a huge fan of K-Pop. Always on the bleeding edge, she loves finding the best "hole-in-the-wall" anime and manga. </p>	
		<div>
		Favorite Anime
			<ul>
				<li>ef: A Tale of Melodies</li>
				<li>Kyou Kara Maou!</li>
				<li>Monster</li>
				<li>Yami Shibai</li>
				<li>Overlord</li>
			</ul>	
		</div>
		<div>
		Favorite Manga 
			<ul>
				<li>Kami-Sama No Iutoori</li>
				<li>Berserk</li>
				<li>Akumetsu</li>
				<li>Holyland</li>
				<li>Suicide Island</li>
			</ul>	
		</div>
	</div>
	<div class="profile">
		<h2>Michael Burnley</h2>
		<h2><div class="title">Co-Owner/Developer</div></h2>
		<div class="prof-box">
			<%= image_tag "spike.jpg" %>	
		</div>
		<br><br>
		<p>Michael Burnley is a web developer and game designer who has always had a passion for anime. Long before starting <a href="http://dokidokidesu.com">Doki Doki Desu</a> or Kawaii Crate he's been keeping up with the industry and going to conventions.</p>
		<div>
		Favorite Anime
			<ul>
				<li>Cowboy Bebop</li>
				<li>Ghost in the Shell: SAC</li>
				<li>Afro Samurai</li>
				<li>No Game No Life</li>
				<li>Paracyte</li>
			</ul>	
		</div>
	</div>
	<div class="profile">
		<h2>Gena Scott</h2>
		<h2><div class="title">Graphic Designer</div></h2>
		<div class="prof-box">
			<%= image_tag "spike.jpg" %>	
		</div>
		<br><br>
		<p>Gena Scott is a graphic designer and nurse-in-training.</p>
		<div>
		Favorite Manga 
			<ul>
				<li>Prison School</li>
				<li>Nisekoi</li>
				<li>Kuragehim AKA "Princess Jellyfish"</li>
			</ul>	
		</div>
	</div>
</div>
</div>
<br><br>
<div>
	<h1>Get Social with Us!</h2>
	<ul>
		<li><a href="https://facebook.com/kawaiicrate">Facebook</a></li>
		<li><a href="https://instagram.com/kawaiicrate">Instagram</a></li>
		<li><a href="https://pinterest.com/kawaiicrate">Pinterest</a></li>
		<li><a href="https://twitter.com/kawaiicrate">Twitter</a></li>
	</ul>
</div>
