<% provide(:title, "FAQ: You Got Questions, We Got Answers.") %>

<h1 style="text-align: center;">FAQ</h1>
<br>
<br>
<ul>
	<h2>What can I expect in my Kawaii Crate?</h2>
	<li>
		<p>Kawaii Crates can include Japanese Candy, Anime DVDs, Manga, Plushes, Keychains, and more! Not all of these will be included every month, but we do our best to pick out some great items for each month's theme and send them along.</p>
	</li>
		<h2>When do you ship out each month's crates?</h2>
	<li>
		<p>The <span style="font-weight: bold;">cut-off date is the 25th of each month</span>, and <span style="font-weight: bold;">we begin shipping on the 26th of the month until the 30th of the month</span>. We'll always tell you if we're late, but it doesn't happen too often. If its past the 30th of the month and you still haven't received your crate, feel free to <a href="http://kawaiicrate.com/pages/contact-us">contact us</a> and we'll do our best to figure out what's going on!</p>
	</li>
		<h2>What happened to the small crates?</h2>
	<li>
		<p>After much internal debate, we went ahead and disabled the small crates so that we can provide a consistent experience for all of our subscribers! All crates are now large crates, by default.</p>
	</li>
		<h2>When do you charge?</h2>
	<li>
		<p><span class="bold">Montly subscriptions</span> are charged at first sign-up and once per month going forward.</p>
		<p><span class="bold">Tri-monthly subscriptions</span> are charged at first sign-up and once per 3 months going forward.</p>
		<p><span class="bold">Yearly subscriptions</span> are charged once a year at first sign-up!</p>
	</li>
		<h2>What is your cancellation policy?</h2>
	<li>
		<p>We hope you won't have to cancel, but we completely understand if you need to! You're free to cancel anytime before your next box ships out. If you don't happen to cancel before your box ships, just <a href="http://kawaiicrate.com/pages/contact-us">contact us</a> know and we can help you out!</p>
	</li>
		<h2>Can I get a refund if I'm not happy with my crate?</h2>
	<li>
		<p>Of course! Just <a href="http://kawaiicrate.com/pages/contact-us">contact our support team</a> with your order number and we'll be a happy to assist you.</p>
	</li>
		<h2>I really, really love my crate!</h2>
	<li>
		<p>Great to hear! We'd appreciate if you'd tell your friends about us! The bigger we get, the better things we can send you!</p>
	</li>
		<h2>I used a coupon, but it didn't work the way that I thought...</h2>
	<li>
		<p>Sorry about that! Our coupon system is sometimes a little wonky. If you need some help just <a href="http://kawaiicrate.com/pages/contact-us">contact our support team</a> with your order number and we'll be a happy to assist you.</p>
	</li>
		<h2>I bought something from Doki Doki Desu! Can I get a discount?</h2>
	<li>
		<p>Hey, you're even more awesome than we thought! We have a special offer for Doki customers going out in a little bit. Check your e-mail!</p>
	</li>
</ul>
