<% provide(:title, "Past Crates") %>
<h1>Past Crates</h1>

<p>Want to take a look at what we've sent in the past? Take a look below!</p>

<div>
	<h2>July 2016</h2>
	<div><a href=""><img src=""></a></div>
	<ul>
		<li>Naruto Ton-Ton Plush</li>
		<li>Cowboy Bebop Notebook</li>
		<li>Bleach Rukia Pop! Figure</li>
		<li>Afro Samurai Keychain</li>
	</ul>
	
	<h2>June 2016</h2>
	<div><a href=""><img src=""></a></div>
	<ul>
		<li>Inuyasha Beads of Subjugation Necklace</li>
		<li>Kancolle Poster</li>
		<li>Free! Iwatobi LED Watch</li>
		<li>Afro Samurai Keychain</li>
	</ul>

	<h2>May 2016</h2>
	<div><a href=""><img src=""></a></div>
	<ul>
		<li>Songbird Ocarina Blue Ocarina</li>
		<li>Songbird Ocarina Tab Booklet</li>
		<li>Bleach Rukia Pop! Figure</li>
		<li>Afro Samurai Keychain</li>
	</ul>

	<h2>April 2016</h2>
	<div><a href=""><img src=""></a></div>
	<ul>
		<li>Space Dandy Lunchbox</li>
		<li>Set of 2 Space Dandy Air Fresheners</li>
		<li>Hetalia Playing Cards</li>
		<li>Ouran Host Club Mini-Clock</li>
		<li>Assassination Classroom Lanyard + Keychain</li>
	</ul>


	<h2>March 2016</h2>
	<div><a href=""><img src=""></a></div>
	<ul>
		<li>Madoka Magica Kyubey Plush</li>
		<li>Magi Aladdin Mug</li>
		<li>A Certain Scientific Railgun Notebook</li>
		<li>Negima School Logo Wristband</li>
		<li>A Certain Magical Railgun Patch</li>
	</ul>
</div>

