@import "bootstrap-sprockets";
@import "bootstrap";

$gray-medium-light: #eaeaea;

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

/* universal */

body {
	padding-top: 60px;
}

section {
	overflow: auto;
}

textarea {
	resize: vertical;
}

.center {
	text-align: center;
}

.center h1 {
	margin-bottom: 10px;
}

/* sidebar  */
aside {
	section.user_info {
		margin-top: 20px;
	}
	section {
		padding: 10px 0;
		margin-top: 20px;
		&:first-child {
			border: 0;
			padding-top: 0;
		}
		span {
			display: block;
			margin-bottom: 3px;
			line-height: 1;
		}
		h1 {
			font-size: 1.4em;
			text-align: left;
			letter-spacing: -1px;
			margin-bottom: 3px;
			margin-top: 0px;
		}	
	}
}

.gravatar {
	float: left;
	margin-right: 10px;
}

.gravatar_edit {
	margin-top: 15px;
}

/* forms */

.checkbox {
	margin-top: -10px;
	margin-bottom: 10px;
	span {
		margin-left: 20px;
		font-weight: normal;
	}
}

#session_remember_me {
	width: auto;
	margin-left: 0;
}

input, textarea, select, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	margin-bottom: 15px;
	@include box_sizing;
}

input {
	height: auto !important;
}

#error_explanation {
	color: red;
	ul {
		color: red;
		margin: 0 0 30px 0;
	}
}

.field_with_errors {
	@extend .has-error;
	.form-control {
		color: $state-danger-text;
	}
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* pricing page */

.plan {
  width: 33%;
  float: left;
  list-style-type: none;
}

.price {
  text-align: center;
}

.plan li {
  list-style-type: none;
}

.features ul {
  text-align: center;
  padding-left: 0 !important;
}

.plan {
 border: 1px solid black;
}

.sub-btn {
  width: 50%;
}

@keyframes animateBorder {
 to {
	outline-color: #EA3556;
	box-shadow: 0 0 0 6px yellow;
    }
}

.sub-btn:hover {
  outline: 6px dashed yellow;
  box-shadow: 0 0 0 6px #69D2E7;
  animation: 1s animateBorder infinite;
}

.btn-container {
  width:100%;
  text-align: center;
}

.img-container {
  width: 100%;
  text-align: center;
}

.shipping-select {
  width: 100%;
  float: right;
}

#sameshipping {
  width: 20px;
}

h3 {
  text-align: center;
}

/* home */
.hiw {
  width: 33%;
  float: left;
  border: 1px solid black;
  padding: 1%;
}

.center {
  text-align: center;
}

.container {
  width: 100%;
}

.brands {
 position: relative;
}

.brands img {
 width: 24%;
}

.theme {
  background: gray;
  padding-bottom: 7%;
}

.theme h2
{
  font-size: 48px;
  color: white;
}

.theme .theme_text {
  width: 50%;
  float: right;
}

.theme img {
  width: 50%;
  float: left;	
}
/* checkout */

/* mobile */

@media (max-width: 1000px)
{
	.container {
		width: 100%;	
	}

	.hiw {
		width: 100%;
	}
	
	.theme .theme_text {
		float: left;
		width: 100%;	
	}

	.theme img {
		float: right;
		width: 100%;
	}
}
