<% provide(:title, "") %>
<h1>About Us</h1>
<p>Kawaii Crate was started by <a href="http://michaelburnley.com">Michael Burnley</a> and Jose Nasser to provide the best anime subscription box out there! Unlike other monthly subscription boxes we send only licensed goodies to our subscribers and taking picks from different anime and manga: big or small! Our team is small, but dedicated. Here's a little bit about us:</p>
